.ptag{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 129%;

  &__white{
    color: var(--white);
  }

  &__gray{
    color: var(--gray);
  }

  &__midSize{
    font-size: 0.88rem;
    line-height: 143%;
  }

  &__smallSize{
    font-size: 0.75rem;
    line-height: 167%;
  }

  &__largeSize{
    font-size: 1.06rem;
    line-height: 129%;
    @include devices($md){
      font-size: 0.75rem;
      line-height: 167%;
    }
  }
}