.gratitude-page{
  @include centered;

  &__content{
    padding-top: 10px;
    @include centered;
    display: flex;
    flex-direction: column;
    gap: 28px;
    @include devices($md){
      gap: 14px;
    }
  }

  &__img{
    @include margin-y(12px, 12px);
    display: flex;
    @include devices($md){
      min-height: 188px;
    }
    svg{
      flex: 1;
      width: 100%;
      height: auto;
    }
  }

  &__desc{
    @include devices($md){
      font-size: 1.06rem !important;
      line-height: 129% !important;
    }
  }
}